@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  /* background-color: ; */
  /* margin: auto; */
  /* backdrop-filter: blur(10px); */
  /* background-color: beige; */
}
